<div class="links-container">
  <div class="link-column">
    <%= link_to 'アカウント情報', userInfo_select_path %>
    <%= link_to 'ノート一覧・作成', folders_path %>
  </div>

  <div class="link-column">
    <a href="#">チュートリアル</a>
    <a href="#">アチーブメント</a>
  </div>
</div>

<% if current_user.admin? %>
  <div class="links-container administrator">
    <div class="link-column">
      <%= link_to 'ユーザー管理', users_path %>
    </div>
    <div class="link-column">
      <%= link_to 'タグ管理', tags_path %>
      <%# link_to 'お問合せ管理', posts_path %>
    </div>
  </div>
<% end %>
