<div class="raizu">
  <% if user_signed_in? %>
    <p><%= current_user.email %></p>
  <% else %>
    <p>You are not logged in.</p>
  <% end %>
</div>

<div class="henkouSakuzyo">
  <div class="but"><button onclick="パスワード変更.html">パスワードの変更</button></div>
  <div class="but"><button onclick="メールアドレス変更.html">メールアドレスの変更</button></div>
  <div class="but"><button @click="accountDelete">アカウント削除</button></div>
  <p><%= link_to "メモを作成", memos_path %>
</div>