<div class="user-status">
  <% if user_signed_in? %>
    <p><%= current_user.email %></p>
  <% else %>
    <p>You are not logged in.</p>
  <% end %>
</div>


<div class="account-options">
  <div class="option">
    <%= link_to 'パスワードの変更', edit_user_registration_path, class: "btn" %>
  </div>
  <div class="option">
    <%# 実装時はdeviseでのメールアドレスの認証が必要のため後回し %>
    <%= link_to 'メールアドレスの変更', mypage_path, class: "btn" %>
  </div>
  <div class="option">
    <%= link_to "アカウント削除", registration_path(:user), data: { turbo_method: :delete, confirm: '本当に削除しますか？' } %>
  </div>
</div>

