/* ポップアップの背景 */
.folders-back {
  background-image: url('note.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* フォルダ作成フォームのスタイル */
#create-folder-form {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 80%;
  max-width: 80%;
  width: 60%; /* フォームの幅を調整 */
  box-sizing: border-box;
}

/* ノート名前作成ポップアップ用のスタイル */
// フォームデザイン
#create-folder-form input[type="text"] {
  width: 100%; /* フィールドの幅を最大に */
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd; /* 枠線のスタイル */
  border-radius: 4px;
  box-sizing: border-box;
}

.mt-3 {
  color:rgb(0, 0, 0);
  text-shadow: 1px 1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px -1px 0 #ffffff;
}

.note-title {
  color:rgb(0, 0, 0);
}

//ノート作成ボタンデザイン
.folder-submit-button {
  width: 20%; /* ボタンの幅を最大に */
  padding: 10px 0; /* 上下の余白 */
  background-color: #007bff; /* ボタンの背景色 */
  color: white; /* テキストの色 */
  border: none; /* 枠線を削除 */
  border-radius: 4px; /* 角を丸く */
  cursor: pointer; /* カーソルを指に */
  margin-top: 10px; /* 上の要素からの間隔 */
}

.folder-submit-button:hover {
  background-color: #0056b3; /* ホバー時の色 */
}

