@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cormorant:ital,wght@1,300&family=Kosugi+Maru&family=Orbitron&family=Roboto:wght@100&family=Varela+Round&display=swap');
body {
  font-family: 'Varela Round', sans-serif;
}

.homeContent-container {
  display: flex; /* Flexboxレイアウトを適用 */
  justify-content: space-between; /* 要素間のスペースを均等に分配 */
  align-items: center; /* 要素を上部で揃える */
  gap: 50px; /* 要素間の間隔を設定 */
  margin-left: 3%;
}
.admin-container {
  margin-left: 3%;
}
.note-list{
  padding-top:20px;
  color:#3a3939;
}

.note-create-container {
  display: flex;
  align-items: center;
  margin-left: 3%;
}
.btn_01 {
	display: block;
	text-decoration: none;
	padding: 5px 10px;
  border:none;
	border-radius: 5px;
	color: #ffffff;
	transition: 0.5s;
  background:#535151;
  margin-top: 10px;
  position: absolute;
  right: 20px; /* 右端に配置 */
}
.btn_01:hover {
	color: #fff;
	background: #000000;
}
.btn_02 a{
  display: block;
  text-align: center;
	text-decoration: none;
	padding: 2px 2px;
  border:none;
	border-radius: 5px;
  color: #3a3939;
	transition: 0.5s;
  background:#f9f9f9;
  width:120px;
}
.btn_02 a:hover {
	color: #3a3939;
	background: #dad9d9;
}
.note-btn {
  border: none; /* 枠線をなくす */
  background-color: transparent; /* 背景色をなくす */
  font-weight: bold;
  color:#646363
}

/* フォルダ一覧コンテナ */
.folders-container {
  flex: 1; /* 可用スペースを埋める */
  max-width: calc(70% - 10px); /* 最大幅を設定し、間隔の分を引く */
  background: rgba(230, 228, 228, 0.5);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  border: 2px solid #4a4b4a;
  border-radius: 10px;
  height: 350px; /* 高さを小さく */
  max-height: 350px; /* 最大高さも調整 */
  width: 60%; /* 幅も小さく */
  p{
    color:#484848;
  }
}

/* 各フォルダカード */
.folder-card {
  border-left: solid 6px #3c3c3c;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #af9d74;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px; /* 高さを小さく */
  width:130px;
}

.folder-link {
  display: block;
  padding: 1rem;
  color: inherit; /* リンクの色を親要素から継承 */
  text-decoration: none; /* 下線を消す */
}

.folder-name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.folder-actions {
  text-align: center;
  padding: 0.5rem 0;
}

.folder-delete-link {
  font-size: 0.8rem;
  color: #dc3545;
  text-decoration: none; /* 下線を消す */
}

.folder-delete-link:hover {
  text-decoration: underline;
}

/*学習記録の表示用CSS*/
.records-container {
  background: rgba(230, 228, 228, 0.5);
  color: #3a3939;
  flex: 2; /* 可用スペースを埋める */
  max-width: calc(30% - 10px);
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  border: 2px solid #4a4b4a;
  border-radius: 10px;
  height: 350px; /* 高さを小さく */
  max-height: 350px; /* 最大高さも調整 */
  width: 30%; /* 幅も小さく */
  margin-right: 20px;
}
.records-container {
  h3{
    font-weight:bold;
  }
}

/* 画面サイズが小さい場合に records-container を非表示にする */
@media screen and (max-width: 768px) {
  .records-container {
    display: none;
  }

}