<div class="calendar-back">
<h3>学習記録</h3>
 
<%= month_calendar do |date| %>
  <%= date.day %>
 
  <% if @memos_by_date[date] %>
    <% @memos_by_date[date].each do |daily_creation| %>
      <p>作成したメモ数: <%= daily_creation.memos_count %></p>
    <% end %>
  <% end %>
<% end %>
<div>