/* app/assets/stylesheets/admin/tag-mane.scss */

/* タグと矢印の改行をなくす */
.tag-back {
  background-image: url('note.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}
.tagh3, .tag-a {
  display: inline;
  padding: 0;
  margin-top: 12px;
  margin-left: 10px;
}

.tag-a i {
  font-size: 2rem; /* デフォルトのフォントサイズ */
  transition: transform 0.3s; /* 変化のアニメーションを追加 */
}

.tag-a:hover i {
  transform: scale(1.2); /* ホバー時に拡大 */
}

.tag-btn {
  margin-top: 10px;
  text-align: right;
}

/* 新規タグ登録 */
.tag-registration {
  float: right; /* 左寄せにする */
  margin-right: 230px; /* 右側の余白を追加 */
  margin-top: 13px; /* 上側の余白を追加 */
}

.tag-header {
  margin: 0 !important
}

/* 新規タグ登録をレスポンシブにする */
@media (max-width: 1200px) {
  .tag-registration {
    float: none; /* float 解除 */
    margin-right: 0; /* 右側の余白を解除 */
    margin-top: 10px; /* 上側の余白を調整 */
    width: 100%; /* 幅100%に調整 */
  }

  .tag-btn {
    text-align: center; /* ボタンを中央寄せにする */
  }
}

/* 現在のタグ一覧 */
.tag-list {
  float: left; /* 右寄せにする */
  margin-left: 10px; /* 左側の余白を追加 */
  margin-top: 10px; /* 右側の余白を追加 */
  overflow:auto; /* 縦スクロールバーを常に表示 */
  max-height: 350px; /* 最大の高さを指定 */
  max-width: 500; /* 最大の幅を指定 */
  padding-right: 20px; /* 左側の余白を追加 */
  h4 {
    margin-left:20px;
  }
}

.tag-header {
  margin-top: 30px;
  margin-left: 35px;
}

.tag-thead{
  position: sticky;
  top: 0;
  background: white;
}

.tag-table {
  margin-left: 20px;
  width: 95%;
  border-collapse: collapse;
  border-spacing: 0;
}

.tag-thead {
  position: sticky;
  top: 0;
  background-color: #f9f9f9; /* ヘッダーの背景色を指定 */
}