.simple-calendar {
  .day {
    
  }
 
  .wday-0 {
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}
 
  .today {}
  .past {}
  .future {}
 
  .start-date {}
 
  .prev-month {}
  .next-month { }
  .current-month {}
 
  .has-events {}
  .calendar-heading {
    padding-left:10px;
  }
  a{
    text-decoration: none;
    color:black;
  }
}
.calendar-back {
  background-image: url('note.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}
.icon-text {
  display: flex;
  align-items: center; /* アイコンとテキストを中央揃え */
  margin-left: 20px;
}

.learning-title {
  font-size: 30px;
  padding-top: 15px;
  color: #3e3e3e;
  margin-left: 5px;
}
hr {
  margin-bottom:20px !important;
  margin-top:0!important;
}