.simple-calendar {
  .day {
    
  }
 
  .wday-0 {
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}
 
  .today {}
  .past {}
  .future {}
 
  .start-date {}
 
  .prev-month {}
  .next-month { }
  .current-month {}
 
  .has-events {}
  .calendar-heading a {
    text-decoration: none;
    color:black;
    padding-left:20px;
  }
}
.calendar-back {
  background-image: url('note.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  h3{
    padding-top:10px;
    padding-left:20px;
  }
}