/* ポップアップのデザインの調整 */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#mypage-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  background-color: #ffffff; /* ポップアップの背景色を白に設定 */
  /* その他のスタイリング（必要に応じて） */
}