.memo-form {
  max-width: 800px; /* コンテンツエリアの幅を広げる */
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.label {
  display: block; /* ラベルをブロック要素にして上部に配置 */
  margin-bottom: 5px; /* ラベルと入力フィールドの間に余白を設定 */
}

.input, .textarea, .select {
  width: 100%; /* 入力フィールドの幅を広げる */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.textarea {
  height: auto; /* テキストエリアの高さを自動調整 */
}

.error-messages {
  background-color: #ffdddd;
  border: 1px solid #ff0000;
  padding: 10px;
  margin-bottom: 20px; /* エラーメッセージとフォームとの間に余白を設定 */
}


.memoList-link {
  color: black; /* テキストの色 */
  text-decoration: none; /* 下線を消す場合 */
}

/* カスタムリンクのホバー時のスタイル */
.memoList-link:hover {
  background-color: #f8f8f8; /* 薄い灰色の背景 */
}
.edit-button a {
  position: relative;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
  color:rgb(109, 107, 107);
}

.edit-button a:hover{
  color:rgb(0, 0, 0);/*ホバー時の文字色*/
  }
