<div class="container-fluid vh-100">
  <div class="row h-100">

    <!-- ナビゲーションパーシャルを読み込む -->
    <%= render 'shared/navbar' %>

    <div class="col-md-10">

      <h1>New Memo for <%= @folder.name %></h1>

      <%= render 'form', memo: @memo %>

      <%= link_to 'Back to Folder', folder_memos_path(@folder) %>
    </div>
  </div>
</div>